{% extends 'basein.html.twig' %}
{% block title %}MeetOut - Perfil {% endblock %}


{% block section %}
    <div class="profilepage">
        <div class="content">
            <aside class="navegation">
                <div class="profile">
                    <div class="info_profile">
                        <div class="image_profile">
                            <img src="{{ asset(user_profile.imagen.ruta) }}">
                        </div>
                    </div>
                </div>

                <div class="user_profile">
                    <h3>{{ user_profile.nombreCompleto }}</h3>
                    <h3>@{{ user_profile.username }}</h3>
                </div>

                <div class="pleasures_profile">
                    {% for tema in user.tema %}
                        <img src="{{ asset(tema.tema.imagen.ruta) }}">
                    {% endfor %}
                </div>

                {% if(user.id != user_profile.id) %}
                    <div class="user_profile">
                        <button id="btn-seguir" value="{{ user_profile.id }}">Seguir</button>
                        <button id="btn-amistad" value="{{ user_profile.id }}">Amistad</button>
                        <input type="hidden" value="{{ user.id }}" id="user_login">
                    </div>
                {% endif %}
            </aside>


            <section class="feed">
                <div class="content_feed">
                    <div class="posts">
                        {% for post in posts %}
                            <a href="{{ path('showpost', { 'page': post.id })}}">
                                <div class="post">
                                    <div>
                                        <h2>{{ post.titulo }}</h2>
                                    </div>
                                    <div>
                                        <span>{{ post.descripcion }}</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </section>


            <section class="profile-right">
                <div class="events">
                    <h1>EVENTOS</h1>
                    <div class="content_events">
                        <div class="event">
                            <div class="content_img">
                                <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                            </div>
                            <div class="info_envent">
                                <h3>Barcelona</h3>
                                <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                                <div class="event-buttons">
                                    <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                    <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content_img">
                                <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                            </div>
                            <div class="info_envent">
                                <h3>Barcelona</h3>
                                <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                                <div class="event-buttons">
                                    <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                    <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content_img">
                                <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                            </div>
                            <div class="info_envent">
                                <h3>Barcelona</h3>
                                <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                                <div class="event-buttons">
                                    <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                    <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="suggestions">
                    <h1>SUGUERENCIAS</h1>
                    <div class="content_suggestions">
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                    </div>
                </div>

            </section>

        </div>
    </div>


    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ajax/profileController.js') }}"></script>
{% endblock %}