{% extends 'basein.html.twig' %}
{% block title %}MeetOut - Perfil {% endblock %}


{% block section %}
    <div class="profilepage">
        <div class="content">
            <aside class="navegation">
                <div class="profile">
                    <div class="info_profile">
                        <div class="image_profile">
                            <img src="{{ asset(user_profile.imagen.ruta) }}">
                        </div>
                    </div>
                </div>

                <div class="user_profileInfo">
                    <h3>{{ user_profile.nombreCompleto }}</h3>
                    <h3>@{{ user_profile.username }}</h3>
                </div>

                <div class="pleasures_profile">
                    {% for tema in user_profile.tema %}
                        <img src="{{ asset(tema.tema.imagen.ruta) }}">
                    {% endfor %}
                </div>
                <div class="people_profile">
                    <div>
                        <h3>Créditos</h3>
                    </div>
                    <div>
                        <h3>Seguidores</h3>
                    </div>
                    <div>
                        <h3>Amigos</h3>
                    </div>
                </div>
                <div class="people_profile">
                    <div>
                        <h3>{{ user_profile.creditos}}</h3>
                    </div>
                    <div>
                        <h3>{{  user_profile.followers[1] }}</h3>
                    </div>
                    <div>
                        <h3>1</h3>
                    </div>
                </div>

                {% if(user.id != user_profile.id) %}
                    <div class="user_profile" id="btns">
                        {% if(user.following is defined) %}
                            <button id="btn-unfollow" value="{{ user_profile.id }}">Siguiendo<i class="fa fa-check" aria-hidden="true"></i></button>
                            <button id="btn-seguir" value="{{ user_profile.id }}" style="display: none">Seguir</button>
                        {% else %}
                            <button id="btn-unfollow" value="{{ user_profile.id }}" style="display: none">Siguiendo<i class="fa fa-check" aria-hidden="true"></i></button>
                            <button id="btn-seguir" value="{{ user_profile.id }}">Seguir</button>
                        {% endif %}

                        <button id="btn-amistad" value="{{ user_profile.id }}">Amistad</button>
                        <input type="hidden" value="{{ user.id }}" id="user_login">
                    </div>
                {% endif %}
                <div class="menu-responsive">
                    <ul>
                        <li id="posts-responsive">
                            Posts
                        </li>
                        <li id="events-responsive">
                            Eventos
                        </li>
                    </ul>
                </div>
            </aside>


            <section id="feed-profile" class="feed">
                <div class="content_feed">
                    <div class="posts">
                        {% for post in posts %}
                            {% if(post is not null) %}
                                <div class="post-row">
                                    <div class="post">
                                        <div class="post-content">
                                            <div>
                                                <img src="{{ asset(post.imagen[0].ruta) }}">
                                            </div>
                                            <div>
                                                <div>
                                                    <h2>{{ post.titulo }}</h2>
                                                </div>
                                                <div>
                                                    <span>{{ post.descripcion }}</span>
                                                </div>
                                                <div class="post-info">
                                                    <div>
                                                        <a href="{{ path('profilepage', { 'page': post.creador.id })}}"><img src="{{ asset(post.creador.imagen.ruta) }}" ></a>
                                                    </div>
                                                    <div>
                                                        <img src="{{ asset(post.tema.imagen.ruta) }}"  }}>
                                                    </div>
                                                    <div>
                                                        <butto><img src="{{ asset('img/icons/coffe.png') }}"  }}></butto>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="{{ path('showpost', { 'page': post.id })}}"><button>Ver Post</button></a>
                                        </div>
                                    </div>
                                    {% if(post.creador == user) %}
                                        <div class="settings">
                                            <ul class="post-settings">
                                                <li>
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                                    <ul class="submenu">
                                                        <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-trash" aria-hidden="true"></i></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>

                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>


            <section id="events-profile" class="profile-right">
                <div class="events">
                    <div class="content_events">
                        <h1>EVENTOS</h1>
                        {% for quedada in quedadas %}
                            {% if(quedada is not null) %}
                                <div class="event">
                                    <div class="content_img">
                                        <img src="{{ asset(quedada.imagen[0].ruta)}}">
                                    </div>
                                    <div class="info_envent">
                                        <div><h3>{{ quedada.titulo }}</h3></div>
                                        <div><p>{{ quedada.descripcion }}</p></div>
                                        <div class="info_site">
                                            <div>
                                                <a href="{{ path('profilepage', { 'page': quedada.creador.id })}}">
                                                    <img class="profile-quedada" src="{{ asset(quedada.creador.imagen.ruta) }}" >
                                                </a>
                                            </div>
                                            <div>
                                                <p>Provincia: {{ quedada.municipio.nombre }}</p>
                                                <p>Lugar: {{ quedada.lugar }}</p>
                                                <p>Dia y hora: {{quedada.fechaQuedada }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-buttons">
                                        {% if(quedada.joined is defined) %}
                                            <button><img src="{{ asset('img/icons/error.png') }}"></button>
                                            <button id="btn-noparticipar_{{quedada.id}}" class="btn-noparticipar " value="{{ quedada.id }}" >
                                                <img src="{{ asset('img/icons/add-user.png') }}">
                                                <div><i class="fa fa-check" aria-hidden="true"></i></div>
                                            </button>
                                            <button id="btn-participar_{{ quedada.id }}" class="btn-participar" value="{{ quedada.id }}" style="display: none"><img src="{{ asset('img/icons/add-user.png') }}"> Participar</button>
                                        {% else %}
                                            <button><img src="{{ asset('img/icons/error.png') }}"></button>
                                            <button id="btn-noparticipar_{{quedada.id}}" class="btn-noparticipar" value="{{ quedada.id }}" style="display: none" >
                                                <img src="{{ asset('img/icons/add-user.png') }}">
                                                <div><i class="fa fa-check" aria-hidden="true"></i></div>
                                            </button>
                                            <button id="btn-participar_{{ quedada.id }}" class="btn-participar " value="{{ quedada.id }}"><img src="{{ asset('img/icons/add-user.png') }}"> Participar</button>
                                        {% endif %}
                                        <input type="hidden" value="{{ user.id }}" id="user_login">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="suggestions">
                    <h1>SUGUERENCIAS</h1>
                    <div class="content_suggestions">
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                        <div class="suggestion"></div>
                    </div>
                </div>

            </section>

        </div>
    </div>


    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ajax/profileController.js') }}"></script>
{% endblock %}