{% extends 'layout.html.twig' %}
{% block title %}MeetOut - Register {% endblock %}
    {% block section %}
        <div class="wrapper-hder">
            <div class="titleder"><h2 style="color:white;">Eres nuevo? Regístrate!</h2></div>
            <div id="wrapper-form">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div>

            {% for tema in temas %}
                <input type="checkbox" value="{{ tema.id }}">{{ tema.nombre }}
            {% endfor %}
        </div>
    {% endblock %}