{% extends 'layout.html.twig' %}
{% block title %}MeetOut - Register {% endblock %}
    {% block section %}
<div class="register">
        <div class="content">
            <div class="wrapper-register">
                <section class="form-der">
                    <form>
                        <div id="name-cont">
                            {{ form_label(form.nombreCompleto) }}
                            {{ form_widget(form.nombreCompleto) }}
                            {{ form_errors(form.nombreCompleto) }}
                        </div>



                        <div id="username-cont">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>


                        <div id="email-cont">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div id="password-cont">
                            {{ form_widget(form.plainPassword) }}
                            {{ form_errors(form.plainPassword) }}
                            {{ form_row(form._token) }}
                        </div>

                        <div id="sex-prov">
                            <div id="sex-cont">
                                {{ form_widget(form.sexo) }}
                                {{ form_errors(form.sexo) }}
                            </div>

                            <div id="province-cont">
                                {{ form_widget(form.provincia) }}
                                {{ form_errors(form.provincia) }}
                            </div>
                        </div>

                        <div class="bsig-container"><button id="siguiente-reg" type="button">Continuar</button></div>

                    </form>
                </section>

                <section class="form-izq">
                    <form>
                        <input type="text" id="test1">
                        <label for="test1">TEST 1</label>

                        <input type="text" id="test2">
                        <label for="test1">TEST 2</label>

                        <input type="text" id="test3">
                        <label for="test1">TEST 3</label>

                        <input type="text" id="test4">
                        <label for="test1">TEST 4</label>

                        <input type="text" id="test5">
                        <label for="test1">TEST 5</label>

                        <div class="bvolver-container">
                            <button id="b-volver" type="button">Volver</button>
                        </div>

                        <div class="buttonreg">
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    </form>

                </section>
            </div>
        </div>
</div>
    {% endblock %}






