<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MeetOUT - Register{% endblock %}</title>
    {% include '/extends/head.html.twig' %}
</head>
<body class="register">
    {% block body %}
        <header class="home-head">
            {% block header %}
                <ul class="header-home">
                    <li><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>
                </ul>

            {% endblock %}
        </header>


        <section style="height: 800px; background-color: #f5f5f5;">


        </section>

    {% endblock %}
{% include '/extends/footer.html.twig' %}
</body>
</html>


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
    'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}