{% extends 'baseout.html.twig' %}
{% block title %}MeetOut - Home {% endblock %}

    {% block section %}
        <div class="homepage">

            <div class="content">
                <section id="hizq-pc">
                    <span style="text-align: center;">
                       <h2 style="margin-bottom: 20px;">¿Quieres conocer gente nueva que comparta tus mismos gustos?</h2>
                       <p style="margin-bottom: 20px;"> Registrate ahora en MeetOut! Conoce a gente que comparte tus mismos gustos,
                        crea eventos, comparte tus conocimientos y la gente compartirá los suyos.</p>

                        <p>Crea un evento de lectura en el punto de quedada que quieras, invita a toda la gente de tu misma ciudad o solo a tus amigos, puedes elegir!
¿Te gusta más el fútbol y quieres quedar con gente para ver el partido? Crea un evento entonces de fútbol e invita a la gente a ver el partido contigo!</p>

                    </span>
                </section>


                <section id="hizq-mobile">
                    <span>
                        <h2 style="margin-bottom: 20px;">¿Quieres conocer gente nueva que comparta tus mismos gustos?</h2>
                       <p style="margin-bottom: 20px;"> Registrate ahora en MeetOut! Conoce a gente que comparte tus mismos gustos,
                        crea eventos, comparte tus conocimientos y la gente compartirá los suyos.</p>

                        <p>Crea un evento de lectura en el punto de quedada que quieras, invita a toda la gente de tu misma ciudad o solo a tus amigos, puedes elegir!
¿Te gusta más el fútbol y quieres quedar con gente para ver el partido? Crea un evento entonces de fútbol e invita a la gente a ver el partido contigo!</p>
                    </span>
                </section>

                <section id="hder">
                    <div class="btn-movil modal">
                        <div class="btn-movil-reg"><button type="button">Registrarse!</button></div>
                        <div class="btn-movil-isesion"><button type="button">Iniciar sesión</button></div>
                    </div>

                    <div class="contpestanyas-home">
                        <ul class="menu-pestanyas-home">
                            <li class="p-registro"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Registrarse</li>
                            <li class="p-login"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Iniciar sesión</li>
                        </ul>

                    </div>

                    <div class="wrapper-hder">

                        <div class="form-registro-home">
                            <div class="titleder"><h2 style="color:white;">Eres nuevo? Regístrate!</h2></div>
                            <div id="wrapper-form">
                                {{ form_start(form_register, {'method': 'post', 'action': path('registerhome')})}}
                                {{ form_widget(form_register) }}
                                {{ form_end(form_register) }}
                            </div>
                        </div>

                        <div class="form-login">
                            <div class="titleder"><h2 style="color:white;">Inicia sesión!</h2></div>
                            {{ form_start(form_login, {'method': 'post', 'action': path('login')})}}
                            {{ form_widget(form_login) }}
                            {{ form_end(form_login) }}
                        </div>
                    </div>

                </section>
            </div>
        </div>

    {% endblock %}