    {% block header %}

        <ul class="content_header">
            <li>
                <a href="/dashboard"><img id="logo" src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a>
            </li>
            <li>
                <div class="searchbox" ">
                    <input type="text"/>
                    <button>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </li>
            <li>
                <a href="#"><img src="{{ asset('img/icons/school-bell.png') }}" alt="Notificaciones"/></a>
                <a href="{{ path('coinspage') }}"><img src="{{ asset('img/icons/insert-coin.png') }}" alt="Créditos"/></a>
            </li>
            <li>
                <button class="settings-menu"><img src="{{ asset('img/icons/icon-settings.png') }}" alt="Configuración"/></button>
                <a href="{{ path('fos_user_security_logout') }}"> <button class="exit-menu"><img src="{{ asset('img/icons/exit.png') }}" alt="MeetOut logo"/></button></a>
            </li>
        </ul>

    {% endblock %}