<div class="homepage">
    <div class="home-head">
        {% if form_login is defined %}
            <ul class="header-home">
                <li><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>
                    <div id="modal-container">
                        <div class="modal-background">
                            <div class="modal">

                                    {{ form_start(form_login, {'method': 'post', 'action': path('login')})}}
                                    {{ form_widget(form_login) }}
                                    {{ form_end(form_login) }}


                            </div>
                        </div>
                    </div>
                    <li  id="five" class="button-modal btn-isesionpc"><button type="button">Iniciar sesión</button> </li>
            </ul>
        {% else %}

            <ul class="header-home">
                <li class="text-center"><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>
            </ul>
        {% endif %}
    </div>
</div>