
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MeetOUT - Home{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style_dashboard.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/hover-min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>