{% extends 'basein.html.twig' %}

{% block section %}
<div class="dashboard">
    <div class="content">
        <aside class="navegation">
            <div class="profile">
                <div class="info_profile">
                    <div class="image_profile">
                        <a href="{{ path('profilepage', { 'page': user.id })}}"><img src="http://i.imgur.com/FTFo2s7.gif"></a>
                    </div>
                    <div class="user_profile">

                        <h3>{{ user.nombreCompleto }}</h3>
                        <h3>@{{ user.username }}</h3>
                        <div class="pleasures_profile">
                            <img src="{{ asset('img/icons/florentino.jpeg') }}">
                            <img src="{{ asset('img/icons/madrid.png') }}">
                            <img src="{{ asset('img/icons/football.png') }}">
                            <img src="{{ asset('img/icons/reading.png') }}">
                            <img src="{{ asset('img/icons/clapperboard.png') }}">
                        </div>
                    </div>
                </div>
                <div class="people_profile">
                    <div>
                        <h3>Seguidores</h3>
                    </div>
                    <div>
                        <h3>Amigos</h3>
                    </div>
                </div>
                <div class="people_profile">
                    <div>
                        <h3>10000</h3>
                    </div>
                    <div>
                        <h3>1</h3>
                    </div>
                </div>
            </div>
            <div class="events">
                <div class="content_events">
                    <h1>EVENTOS</h1>
                    <div class="event">
                        <div class="content_img">
                            <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                        </div>
                        <div class="info_envent">
                            <h3>Barcelona</h3>
                            <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                            <div class="event-buttons">
                                <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content_img">
                            <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                        </div>
                        <div class="info_envent">
                            <h3>Barcelona</h3>
                            <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                            <div class="event-buttons">
                                <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content_img">
                            <img src="{{ asset('img/quedadas/plaza-catalunya.jpg')}}">
                        </div>
                        <div class="info_envent">
                            <h3>Barcelona</h3>
                            <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
                            <div class="event-buttons">
                                <button><img src="{{ asset('img/icons/checked.png') }}"></button>
                                <button><img src="{{ asset('img/icons/delete.png') }}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="suggestions">
                <h1>SUGUERENCIAS</h1>
                <div class="content_suggestions">
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                </div>
                <div class="content_suggestions">
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                </div>
            </div>
        </aside>



        <section class="feed">
            <div class="content_feed">
                <div class="new_post">
                    <div class="form-group">
                        <div class="controls">
                        {{ form_start(form_post, {'method': 'post', 'action': path('newpost')})}}
                        {{ form_widget(form_post) }}
                            <div class="btn-publicar">
                                <div><button id="addimg"><i class="fa fa-camera fa-lg"  aria-hidden="true"></i></button></div>
                                <div style="margin-right: 2%;"><button id="addicons"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></button></div>
                                <div><button id="addtags"><i class="fa fa-tags fa-lg" aria-hidden="true"></i></button></div>
                                <textarea class="tagarea"></textarea>

                                <div><button id="publicarpost" >Cuéntalo</button></div>
                            </div>
                        {{ form_end(form_post) }}
                            </div>
                        </div>
                </div>
                <div class="Outstanding">
                    <h2>Post destacado</h2>
                </div>

                <div class="posts">
                    {% for post in posts %}
                        <a href="{{ path('showpost', { 'page': post.id })}}">
                            <div class="post">
                                <div>
                                    <h2>{{ post.titulo }}</h2>
                                </div>
                                <div>
                                    <span>{{ post.descripcion }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </section>
    </div>
</div>

{% endblock %}
