{% extends 'basein.html.twig' %}
{% block title %}MeetOut - Dashboard{% endblock %}
{% block section %}
<div class="dashboard">
    <div class="content">
        <aside class="navegation">
            <div class="profile">
                <div class="info_profile">
                    <div class="image_profile">
                        <a href="{{ path('profilepage', { 'page': user.id })}}"><img src="{{ asset(user.imagen.ruta) }}"></a>
                    </div>
                    <div class="user_profile">
                        <div>
                            <h3>{{ user.nombreCompleto }}</h3>
                        </div>
                        <div>
                            <a href="{{ path('profilepage', { 'page': user.id })}}">
                                <h3>@{{ user.username }}</h3>
                            </a>
                        </div>
                        <div class="pleasures_profile">
                            {% for tema in user.tema %}
                                <img src="{{ asset(tema.tema.imagen.ruta) }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="people_profile">
                    <div>
                        <h3>Créditos</h3>
                    </div>
                    <div>
                        <h3>Seguidores</h3>
                    </div>
                    <div>
                        <h3>Amigos</h3>
                    </div>
                </div>
                <div class="people_profile">
                    <div>
                        <h3>{{ user.creditos}}</h3>
                    </div>
                    <div>
                        <h3>10000</h3>
                    </div>
                    <div>
                        <h3>1</h3>
                    </div>
                </div>
            </div>
            <div class="events">
                <div class="content_events">
                    <h1>EVENTOS</h1>
                    {% for quedada in quedadas %}
                    {% if(quedada is not null) %}
                        <div class="event">
                            <div class="content_img">
                                <img src="{{ asset(quedada.imagen[0].ruta)}}">
                            </div>
                            <div class="info_envent">
                                <div><h3>{{ quedada.titulo }}</h3></div>
                                <div><p>{{ quedada.descripcion }}</p></div>
                                <div class="info_site">
                                    <div>
                                        <a href="{{ path('profilepage', { 'page': quedada.creador.id })}}">
                                            <img class="profile-quedada" src="{{ asset(quedada.creador.imagen.ruta) }}" >
                                        </a>
                                    </div>
                                    <div>
                                        <p>Provincia: {{ quedada.municipio.nombre }}</p>
                                        <p>Lugar: {{ quedada.lugar }}</p>
                                        <p>Dia y hora: {{quedada.fechaQuedada }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="event-buttons">
                                {% if(quedada.joined is defined) %}
                                    <button><img src="{{ asset('img/icons/error.png') }}"></button>
                                    <button id="btn-noparticipar_{{quedada.id}}" class="btn-noparticipar " value="{{ quedada.id }}" >
                                        <img src="{{ asset('img/icons/add-user.png') }}">
                                        <div><i class="fa fa-check" aria-hidden="true"></i></div>
                                    </button>
                                    <button id="btn-participar_{{ quedada.id }}" class="btn-participar" value="{{ quedada.id }}" style="display: none"><img src="{{ asset('img/icons/add-user.png') }}"> Participar</button>
                                {% else %}
                                    <button><img src="{{ asset('img/icons/error.png') }}"></button>
                                    <button id="btn-noparticipar_{{quedada.id}}" class="btn-noparticipar" value="{{ quedada.id }}" style="display: none" >
                                        <img src="{{ asset('img/icons/add-user.png') }}">
                                        <div><i class="fa fa-check" aria-hidden="true"></i></div>
                                    </button>
                                    <button id="btn-participar_{{ quedada.id }}" class="btn-participar " value="{{ quedada.id }}"><img src="{{ asset('img/icons/add-user.png') }}"> Participar</button>
                                {% endif %}
                                <input type="hidden" value="{{ user.id }}" id="user_login">
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="suggestions">
                <h1>SUGUERENCIAS</h1>
                <div class="content_suggestions">
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                </div>
                <div class="content_suggestions">
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                    <div class="suggestion"></div>
                </div>
            </div>
        </aside>



        <section class="feed">
            <div class="content_feed">
                <div class="contpestanyas">
                    <ul class="menu-pestanyas">
                        <li class="p-post"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Publicar post</li>
                        <li class="p-evento"><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> Crear evento</li>
                    </ul>

                </div>
                <div class="new_post">
                    <div class="form-group">
                        <div class="controls">
                        {{ form_start(form_post, {'method': 'post', 'action': path('newpost')})}}
                            {{ form_widget(form_post.titulo) }}
                            {{ form_widget(form_post.descripcion) }}

                            <div class="publicar">
                                <div> {{ form_widget(form_post.imagen) }}<i class="fa fa-camera fa-lg"  aria-hidden="true"></i></div>
                                <div style="margin-right: 2%;"><button id="addicons"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></button></div>
                                <div><button id="addtags"><i class="fa fa-tags fa-lg" aria-hidden="true"></i></button></div>
                                <textarea class="tagarea"></textarea>
                                <div>{{ form_widget(form_post.tema) }}</div>
                                {{ form_widget(form_post.save) }}

                            </div>
                            {{ form_widget(form_post) }}
                        {{ form_end(form_post) }}
                            </div>
                        </div>
                </div>

                <div class="new_event">
                    <div class="form-group">
                        <div class="controls">
                            {{ form_start(form_quedada, {'method': 'post', 'action': path('newquedada')})}}
                            <div>{{ form_widget(form_quedada.titulo) }}</div>
                            <div>{{ form_widget(form_quedada.fechaQuedada) }}</div>
                            <div>{{ form_widget(form_quedada.descripcion) }}</div>

                            <div class="publicar">
                                <div class="choices">
                                    <div>
                                        {{ form_widget(form_quedada.imagen) }}<i class="fa fa-camera fa-lg"  aria-hidden="true"></i>
                                    </div>

                                </div>

                                <div>{{ form_widget(form_quedada.lugar) }}</div>
                                <div>{{ form_widget(form_quedada.municipio) }}</div>

                                <div>{{ form_widget(form_quedada.save) }}</div>

                            </div>
                            {{ form_widget(form_quedada) }}
                            {{ form_end(form_quedada) }}
                        </div>
                    </div>

                </div>



                <div class="Outstanding">
                    <h2>Post destacado</h2>
                </div>

                <div class="posts">
                        {% for post in posts %}
                            {% if(post is not null) %}
                            <div class="post-row">

                                <div class="post">
                                    <div>
                                        <img src="{{ asset(post.imagen[0].ruta) }}">
                                    </div>
                                    <div class="post-content">
                                        <div>
                                            <h2>{{ post.titulo }}</h2>
                                        </div>
                                        <div>
                                            <span>{{ post.descripcion }}</span>
                                        </div>
                                        <div class="post-info">
                                            <div>
                                                <a href="{{ path('profilepage', { 'page': post.creador.id })}}"><img src="{{ asset(post.creador.imagen.ruta) }}" ><span>@{{ post.creador.username }}</span></a>
                                            </div>
                                            <div>
                                                <img src="{{ asset(post.tema.imagen.ruta) }}"  }}>
                                            </div>
                                         </div>
                                    </div>
                                    <div>
                                        <a href="{{ path('showpost', { 'page': post.id })}}"><button>Ver Post</button></a>
                                    </div>
                                </div>
                                {% if(post.creador == user) %}
                                    <div class="settings">
                                        <ul class="post-settings">
                                            <li>
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                <ul class="submenu">
                                                    <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li>
                                                    <li><i class="fa fa-trash" aria-hidden="true"></i></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                </div>

            </div>
        </section>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ajax/dashboardController.js') }}"></script>
{% endblock %}